<div class="jumbotron text-center">
		<h2>第六組系統-客語(成語及諺語)</h2>
</div>
<div class="container">
	<div>
		<div class="col-sm-4" style="width:45%;height:250px;background-color:#00FFFF;">
			<a href="questionForOne.html">
				<button type="button" class="btn btn-primary">題目</button>
			</a>
		</div>
		<div class="col-sm-4" style="width:45%;height:250px;background-color:#00FFFF;margin-left: 5%;">
			<a href="testQuestion1.html">
				<button type="button" class="btn btn-primary">
					熱身題
				</button>
			</a>
		</div>
	</div>
</div>